@using Microsoft.AspNetCore.Identity
@using Domain.App.Identity
@using Resource = Resources.Views.Shared._LoginPartial
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        
        <li class="nav-item">
            <a class="nav-link text-light text-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                
                <div class="text-light">@Resource.Greeting @User.Identity!.Name!</div>
                <div class="text-light">(@user.Firstname @user.Lastname)</div>
            </a>
        </li>
        <li class="nav-item">
            <form id="nav-logout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button id="nav-logout-button" type="submit" class="nav-link btn btn-link text-light">@Resource.Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="nav-register" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">@Resource.Register</a>
        </li>
        <li class="nav-item">
            <a id="nav-login" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">@Resource.Login</a>
        </li>
    }
</ul>