@using Resource = Resources.Areas.Admin.Views.DrivingSchools.Edit
@model WebApp.Areas.Admin.ViewModels.DrivingSchool.DrivingSchoolCreateEditViewModel

@{
    ViewData["Title"] = "Resource.Title";
}


<div class="jumbotron shadow rounded">

    <h1>@($"{Model.DrivingSchool.Name} {Resource.Header}")</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DrivingSchool.Id"/>
                <input type="hidden" asp-for="DrivingSchool.NameId"/>
                <input type="hidden" asp-for="DrivingSchool.DescriptionId"/>

                <partial name="_CreateEdit" model="Model"/>

                <div class="form-group">
                    <input type="submit" value="@Resource.Update" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <form asp-action="Delete" asp-route-id="@Model.DrivingSchool.Id">
            <a asp-action="Index">@Resource.BackToList</a>
            <input type="submit" value="@Resource.Delete" class="btn btn-danger float-right"/>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}