@using Resource = Resources.Areas.Admin.Views.Requirements.Index
@model IEnumerable<BLL.App.DTO.Requirement>

@{
    ViewData["Title"] = @Resource.Title;
}
<div class="jumbotron shadow rounded">

    <h1>@Resource.Header</h1>
    <p>
        <a asp-action="Create">@Resource.CreateNew</a>
    </p>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Resource.Name
            </th>
            <th>
                @Resource.Description
            </th>
            <th>
                @Resource.Price
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa fa-cog mx-1 text-secondary" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>